name: Build HyperGL Wheels

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      # This ensures that even if Mac fails, Windows and Linux stay alive
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14-dev'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.21.3
        env:
          CIBW_FREE_THREADED_SUPPORT: 1
          CIBW_BUILD: "cp313t-* cp314t-*"
          
          CIBW_ARCHS_WINDOWS: "AMD64"
          CIBW_ARCHS_LINUX: "x86_64"
          CIBW_ARCHS_MACOS: "x86_64 arm64"

          # --- Platform-Specific Environments ---
          # We define CC=clang-cl ONLY for Windows. 
          # Linux and Mac will use their default 'cc' and 'clang'.
          CIBW_ENVIRONMENT_WINDOWS: "CC=clang-cl CXX=clang-cl HYPERGL_VALIDATE=1 DISABLE_LOCKS=0"
          CIBW_ENVIRONMENT_LINUX: "HYPERGL_VALIDATE=1 DISABLE_LOCKS=0"
          CIBW_ENVIRONMENT_MACOS: "HYPERGL_VALIDATE=1 DISABLE_LOCKS=0"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: hypergl-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  release:
    name: Release Wheels
    needs: [build_wheels]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: wheelhouse
          pattern: hypergl-wheels-*
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: wheelhouse/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}